<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/navbar.ejs") %>

    <h1 class="display-1"> 404 Error </h1>
    <p> Try Another Page</p>

    <%- include("./partials/footer.ejs") %>
</body>
</html>