<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/navbar.ejs") %>

  <div class="container-fluid ">
    <form action="/signup">
      <h2>Login</h2>
      <label for="email">Email</label>
      <input type="text" name="email" required />
      <label for="password">Password</label>
      <input type="password" name="password" required />
      <Button type="button" class="btn btn-primary bg-dark">Login</Button>
    </form>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>
